In [1]:
#!pip install cx_Oracle

In [2]:
import cx_Oracle

In [5]:
#Steps to perform to connect to the database 
    #1. Import the package based on the database 
    #2. Establish the connection between Python and Oracle (Database)
        #con = cx_Oracle.connect(database information)
    #3. Create a cursor object 
        #cursor = con.cursor()
    #4. Execute the SQL queries 
        #Cursor consists of various methods 
            #cursor.execute(sqlquery) -> single sql query 
            #cursor.executescript(sqlqueries) -> Execute the multiple sql queries seperated by ';'
            #cursor.executemany() -> To execute the parameterized query
    #5. Fetch the results 
            #cursor.fetchone() - To fetch only one row 
            #cursor.fetchall() - To fetch out all the records 
            #cursor.fetchmany(n) - To fetch out n number of records
    #6. commit()
        #rollback()
    #7. cursor.close()
        #con.close()

In [11]:
con = cx_Oracle.connect('hr/atharv2210@localhost:1521/ORCL')
if con!=None:
    print('The connection is established successfully')
    print('Version: ', con.version)
else:
    print('The connection did not established successfully')
con.close()

DatabaseError: ORA-01017: invalid username/password; logon denied

In [7]:
con

In [12]:
dbdetails = 'hr/atharv2210$@localhost:1521/ORCL'

In [20]:
try: 
    query = "create table student_details (sid number, studname varchar2(20), stumarks number(10,2), studaddr varchar2(20))"
    con = cx_Oracle.connect(dbdetails)
    cursor = con.cursor()
    cursor.execute(query)
    print('The table got created in the database')
except cx.Oracle.DatabaseError as e: 
    print(e)
    print('There is some error')
finally:
    cursor.close()
    con.close()

The table got created in the database

In [19]:
try: 
    query = "drop table student_details"
    con = cx_Oracle.connect(dbdetails)
    cursor = con.cursor()
    cursor.execute(query)
    print('The table got dropped in the database')
except cx.Oracle.DatabaseError as e: 
    print(e)
    print('There is some error')
finally:
    cursor.close()
    con.close()

The table got dropped in the database

In [24]:
try: 
    query = "insert into student_details values (100, 'Rahul', 44, 'Gurgaon')"
    con = cx_Oracle.connect(dbdetails)
    cursor = con.cursor()
    cursor.execute(query)
    print('The record inserted in the table')
    con.commit()
except cx.Oracle.DatabaseError as e: 
    print(e)
    print('There is some error')
finally:
    cursor.close()
    con.close()

The record inserted in the table

In [27]:
try: 
    query = "insert into student_details values (:sid, :stuname, :stumarks, :stuaddr)"
    con = cx_Oracle.connect(dbdetails)
    cursor = con.cursor()
    records = [(101,'Amber',45,'Delhi'), (102,'Soujanya',50,'Hyd'), (103,'Varsha',50,'Gurgaon')]
    cursor.executemany(query, records)
    print('The record inserted in the table')
    con.commit()
except cx.Oracle.DatabaseError as e: 
    print(e)
    print('There is some error')
finally:
    cursor.close()
    con.close()

The record inserted in the table

In [30]:
dbdetails = 'hr/atharv2210$@localhost:1521/ORCL'
try: 
    con = cx_Oracle.connect(dbdetails)
    cursor = con.cursor()
    while True: 
        sid = int(input('Enter the student id: '))
        stuname = input('Enter the student name: ')
        stumarks = float(input('Enter the marks: '))
        stuaddr = input('Enter the address: ')
        query = "insert into student_details values (%d, '%s', %f, '%s')"
        cursor.execute(query %(sid, stuname, stumarks, stuaddr))
        con.commit()
        print('The record got inserted')
        option = input('Do you want to continue [Yes|No]: ' )
        if option=='No':
            break
except:
    print('There is some error')
finally: 
    con.cursor()
    con.close()

Enter the student id: 104
Enter the student name: Oswald
Enter the marks: 45
Enter the address: US
The record got inserted
Do you want to continue [Yes|No]: rahul
Enter the student id: 105
Enter the student name: Kapil
Enter the marks: 46
Enter the address: Gurgaon
The record got inserted
Do you want to continue [Yes|No]: No

In [33]:
import os
os.getcwd()

'C:\\Users\\Rahul\\Desktop'

In [32]:
os.chdir('C:\\Users\\Rahul\\Desktop')

In [35]:
import pandas as pd
df = pd.read_csv('tips.csv')

In [36]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [47]:
dbdetails = 'hr/atharv2210$@localhost:1521/ORCL'
create_table = "create table tips (total_bill number(10,2), tip number(10,2), sex varchar2(10), smoker varchar2(10), day varchar2(10), time varchar2(10), dsize number)"
selecttable = "select count(*) from tips"
con = cx_Oracle.connect(dbdetails)
cur = con.cursor()
cur.execute(create_table)
rows = [tuple(x) for x in df.values]
cur.executemany("insert into tips (total_bill, tip, sex, smoker, day, time, dsize) values (:1,:2,:3,:4,:5,:6,:7)", rows)
con.commit()
cur.close()
con.close()

In [48]:
con = cx_Oracle.connect(dbdetails)
cur = con.cursor()
alter_table = "alter table tips add discount int"
cur.execute(alter_table)
cur.close()
con.close()

In [49]:
con = cx_Oracle.connect(dbdetails)
cur = con.cursor()
discount = int(input('Enter the discount: '))
total_bill_range = float(input('Enter the bill amount: '))
query = "update tips set discount =%d where total_bill > %f"
cur.execute(query %(discount, total_bill_range))
con.commit()
cur.close()
con.close()

Enter the discount: 5
Enter the bill amount: 45.5

In [50]:
con = cx_Oracle.connect(dbdetails)
cur = con.cursor()
smoker = input('Enter the value: ')
query = "delete from tips where smoker = '%s'"
cur.execute(query %smoker)
con.commit()
cur.close()
con.close()

Enter the value: Yes

In [51]:
con = cx_Oracle.connect(dbdetails)
cur = con.cursor()
query = "select * from tips"
cur.execute(query)
row = cur.fetchone()
while row is not None:
    print(row)
    row = cur.fetchone()
    import time 
    time.sleep(1)
cur.close()
con.close()

(16.99, 1.01, 'Female', 'No', 'Sun', 'Dinner', 2, None)
(10.34, 1.66, 'Male', 'No', 'Sun', 'Dinner', 3, None)
(21.01, 3.5, 'Male', 'No', 'Sun', 'Dinner', 3, None)
(23.68, 3.31, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(24.59, 3.61, 'Female', 'No', 'Sun', 'Dinner', 4, None)
(25.29, 4.71, 'Male', 'No', 'Sun', 'Dinner', 4, None)
(8.77, 2.0, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(26.88, 3.12, 'Male', 'No', 'Sun', 'Dinner', 4, None)
(15.04, 1.96, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(14.78, 3.23, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(10.27, 1.71, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(35.26, 5.0, 'Female', 'No', 'Sun', 'Dinner', 4, None)
(15.42, 1.57, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(18.43, 3.0, 'Male', 'No', 'Sun', 'Dinner', 4, None)
(14.83, 3.02, 'Female', 'No', 'Sun', 'Dinner', 2, None)
(21.58, 3.92, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(10.33, 1.67, 'Female', 'No', 'Sun', 'Dinner', 3, None)
(16.29, 3.71, 'Male', 'No', 'Sun', 'Dinner', 3, None)
(16.97, 3.5, 'Female', 'No', 'Sun', 'Dinner', 3, None)
(20.65, 3.35, 'Male', 'No', 'Sat', 'Dinner', 3, None)
(17.92, 4.08, 'Male', 'No', 'Sat', 'Dinner', 2, None)
(20.29, 2.75, 'Female', 'No', 'Sat', 'Dinner', 2, None)
(15.77, 2.23, 'Female', 'No', 'Sat', 'Dinner', 2, None)
(39.42, 7.58, 'Male', 'No', 'Sat', 'Dinner', 4, None)
(19.82, 3.18, 'Male', 'No', 'Sat', 'Dinner', 2, None)
(17.81, 2.34, 'Male', 'No', 'Sat', 'Dinner', 4, None)
(13.37, 2.0, 'Male', 'No', 'Sat', 'Dinner', 2, None)
(12.69, 2.0, 'Male', 'No', 'Sat', 'Dinner', 2, None)
(21.7, 4.3, 'Male', 'No', 'Sat', 'Dinner', 2, None)
(19.65, 3.0, 'Female', 'No', 'Sat', 'Dinner', 2, None)
(9.55, 1.45, 'Male', 'No', 'Sat', 'Dinner', 2, None)
(18.35, 2.5, 'Male', 'No', 'Sat', 'Dinner', 4, None)
(15.06, 3.0, 'Female', 'No', 'Sat', 'Dinner', 2, None)
(20.69, 2.45, 'Female', 'No', 'Sat', 'Dinner', 4, None)
(17.78, 3.27, 'Male', 'No', 'Sat', 'Dinner', 2, None)
(24.06, 3.6, 'Male', 'No', 'Sat', 'Dinner', 3, None)
(16.31, 2.0, 'Male', 'No', 'Sat', 'Dinner', 3, None)
(16.93, 3.07, 'Female', 'No', 'Sat', 'Dinner', 3, None)
(18.69, 2.31, 'Male', 'No', 'Sat', 'Dinner', 3, None)
(31.27, 5.0, 'Male', 'No', 'Sat', 'Dinner', 3, None)
(16.04, 2.24, 'Male', 'No', 'Sat', 'Dinner', 3, None)
(17.46, 2.54, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(13.94, 3.06, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(9.68, 1.32, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(30.4, 5.6, 'Male', 'No', 'Sun', 'Dinner', 4, None)
(18.29, 3.0, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(22.23, 5.0, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(32.4, 6.0, 'Male', 'No', 'Sun', 'Dinner', 4, None)
(28.55, 2.05, 'Male', 'No', 'Sun', 'Dinner', 3, None)
(18.04, 3.0, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(12.54, 2.5, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(10.29, 2.6, 'Female', 'No', 'Sun', 'Dinner', 2, None)
(34.81, 5.2, 'Female', 'No', 'Sun', 'Dinner', 4, None)
(9.94, 1.56, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(25.56, 4.34, 'Male', 'No', 'Sun', 'Dinner', 4, None)
(19.49, 3.51, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(26.41, 1.5, 'Female', 'No', 'Sat', 'Dinner', 2, None)
(48.27, 6.73, 'Male', 'No', 'Sat', 'Dinner', 4, 5)
(17.59, 2.64, 'Male', 'No', 'Sat', 'Dinner', 3, None)
(20.08, 3.15, 'Male', 'No', 'Sat', 'Dinner', 3, None)
(16.45, 2.47, 'Female', 'No', 'Sat', 'Dinner', 2, None)
(20.23, 2.01, 'Male', 'No', 'Sat', 'Dinner', 2, None)
(12.02, 1.97, 'Male', 'No', 'Sat', 'Dinner', 2, None)
(17.07, 3.0, 'Female', 'No', 'Sat', 'Dinner', 3, None)
(14.73, 2.2, 'Female', 'No', 'Sat', 'Dinner', 2, None)
(10.51, 1.25, 'Male', 'No', 'Sat', 'Dinner', 2, None)
(27.2, 4.0, 'Male', 'No', 'Thur', 'Lunch', 4, None)
(22.76, 3.0, 'Male', 'No', 'Thur', 'Lunch', 2, None)
(17.29, 2.71, 'Male', 'No', 'Thur', 'Lunch', 2, None)
(16.66, 3.4, 'Male', 'No', 'Thur', 'Lunch', 2, None)
(10.07, 1.83, 'Female', 'No', 'Thur', 'Lunch', 1, None)
(15.98, 2.03, 'Male', 'No', 'Thur', 'Lunch', 2, None)
(34.83, 5.17, 'Female', 'No', 'Thur', 'Lunch', 4, None)
(13.03, 2.0, 'Male', 'No', 'Thur', 'Lunch', 2, None)
(18.28, 4.0, 'Male', 'No', 'Thur', 'Lunch', 2, None)
(24.71, 5.85, 'Male', 'No', 'Thur', 'Lunch', 2, None)
(21.16, 3.0, 'Male', 'No', 'Thur', 'Lunch', 2, None)
(22.49, 3.5, 'Male', 'No', 'Fri', 'Dinner', 2, None)
(22.75, 3.25, 'Female', 'No', 'Fri', 'Dinner', 2, None)
(12.46, 1.5, 'Male', 'No', 'Fri', 'Dinner', 2, None)
(20.92, 4.08, 'Female', 'No', 'Sat', 'Dinner', 2, None)
(18.24, 3.76, 'Male', 'No', 'Sat', 'Dinner', 2, None)
(14.0, 3.0, 'Male', 'No', 'Sat', 'Dinner', 2, None)
(7.25, 1.0, 'Female', 'No', 'Sat', 'Dinner', 1, None)
(38.07, 4.0, 'Male', 'No', 'Sun', 'Dinner', 3, None)
(23.95, 2.55, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(25.71, 4.0, 'Female', 'No', 'Sun', 'Dinner', 3, None)
(17.31, 3.5, 'Female', 'No', 'Sun', 'Dinner', 2, None)
(29.93, 5.07, 'Male', 'No', 'Sun', 'Dinner', 4, None)
(10.65, 1.5, 'Female', 'No', 'Thur', 'Lunch', 2, None)
(12.43, 1.8, 'Female', 'No', 'Thur', 'Lunch', 2, None)
(24.08, 2.92, 'Female', 'No', 'Thur', 'Lunch', 4, None)
(11.69, 2.31, 'Male', 'No', 'Thur', 'Lunch', 2, None)
(13.42, 1.68, 'Female', 'No', 'Thur', 'Lunch', 2, None)
(14.26, 2.5, 'Male', 'No', 'Thur', 'Lunch', 2, None)
(15.95, 2.0, 'Male', 'No', 'Thur', 'Lunch', 2, None)
(12.48, 2.52, 'Female', 'No', 'Thur', 'Lunch', 2, None)
(29.8, 4.2, 'Female', 'No', 'Thur', 'Lunch', 6, None)
(8.52, 1.48, 'Male', 'No', 'Thur', 'Lunch', 2, None)
(14.52, 2.0, 'Female', 'No', 'Thur', 'Lunch', 2, None)
(11.38, 2.0, 'Female', 'No', 'Thur', 'Lunch', 2, None)
(22.82, 2.18, 'Male', 'No', 'Thur', 'Lunch', 3, None)
(19.08, 1.5, 'Male', 'No', 'Thur', 'Lunch', 2, None)
(20.27, 2.83, 'Female', 'No', 'Thur', 'Lunch', 2, None)
(11.17, 1.5, 'Female', 'No', 'Thur', 'Lunch', 2, None)
(12.26, 2.0, 'Female', 'No', 'Thur', 'Lunch', 2, None)
(18.26, 3.25, 'Female', 'No', 'Thur', 'Lunch', 2, None)
(8.51, 1.25, 'Female', 'No', 'Thur', 'Lunch', 2, None)
(10.33, 2.0, 'Female', 'No', 'Thur', 'Lunch', 2, None)
(14.15, 2.0, 'Female', 'No', 'Thur', 'Lunch', 2, None)
(13.16, 2.75, 'Female', 'No', 'Thur', 'Lunch', 2, None)
(17.47, 3.5, 'Female', 'No', 'Thur', 'Lunch', 2, None)
(34.3, 6.7, 'Male', 'No', 'Thur', 'Lunch', 6, None)
(41.19, 5.0, 'Male', 'No', 'Thur', 'Lunch', 5, None)
(27.05, 5.0, 'Female', 'No', 'Thur', 'Lunch', 6, None)
(16.43, 2.3, 'Female', 'No', 'Thur', 'Lunch', 2, None)
(8.35, 1.5, 'Female', 'No', 'Thur', 'Lunch', 2, None)
(18.64, 1.36, 'Female', 'No', 'Thur', 'Lunch', 3, None)
(11.87, 1.63, 'Female', 'No', 'Thur', 'Lunch', 2, None)
(9.78, 1.73, 'Male', 'No', 'Thur', 'Lunch', 2, None)
(7.51, 2.0, 'Male', 'No', 'Thur', 'Lunch', 2, None)
(14.07, 2.5, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(13.13, 2.0, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(17.26, 2.74, 'Male', 'No', 'Sun', 'Dinner', 3, None)
(24.55, 2.0, 'Male', 'No', 'Sun', 'Dinner', 4, None)
(19.77, 2.0, 'Male', 'No', 'Sun', 'Dinner', 4, None)
(29.85, 5.14, 'Female', 'No', 'Sun', 'Dinner', 5, None)
(48.17, 5.0, 'Male', 'No', 'Sun', 'Dinner', 6, 5)
(25.0, 3.75, 'Female', 'No', 'Sun', 'Dinner', 4, None)
(13.39, 2.61, 'Female', 'No', 'Sun', 'Dinner', 2, None)
(16.49, 2.0, 'Male', 'No', 'Sun', 'Dinner', 4, None)
(21.5, 3.5, 'Male', 'No', 'Sun', 'Dinner', 4, None)
(12.66, 2.5, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(16.21, 2.0, 'Female', 'No', 'Sun', 'Dinner', 3, None)
(13.81, 2.0, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(24.52, 3.48, 'Male', 'No', 'Sun', 'Dinner', 3, None)
(20.76, 2.24, 'Male', 'No', 'Sun', 'Dinner', 2, None)
(31.71, 4.5, 'Male', 'No', 'Sun', 'Dinner', 4, None)
(20.69, 5.0, 'Male', 'No', 'Sun', 'Dinner', 5, None)
(7.56, 1.44, 'Male', 'No', 'Thur', 'Lunch', 2, None)
(48.33, 9.0, 'Male', 'No', 'Sat', 'Dinner', 4, 5)
(15.98, 3.0, 'Female', 'No', 'Fri', 'Lunch', 3, None)
(20.45, 3.0, 'Male', 'No', 'Sat', 'Dinner', 4, None)
(13.28, 2.72, 'Male', 'No', 'Sat', 'Dinner', 2, None)
(11.61, 3.39, 'Male', 'No', 'Sat', 'Dinner', 2, None)
(10.77, 1.47, 'Male', 'No', 'Sat', 'Dinner', 2, None)
(10.07, 1.25, 'Male', 'No', 'Sat', 'Dinner', 2, None)
(35.83, 4.67, 'Female', 'No', 'Sat', 'Dinner', 3, None)
(29.03, 5.92, 'Male', 'No', 'Sat', 'Dinner', 3, None)
(17.82, 1.75, 'Male', 'No', 'Sat', 'Dinner', 2, None)
(18.78, 3.0, 'Female', 'No', 'Thur', 'Dinner', 2, None)

In [52]:
con = cx_Oracle.connect(dbdetails)
cur = con.cursor()
query = "select * from tips"
cur.execute(query)
data = cur.fetchall()
print(data)
#row = cur.fetchone()
#while row is not None:
#    print(row)
#    row = cur.fetchone()
#    import time 
#    time.sleep(1)
cur.close()
con.close()

[(16.99, 1.01, 'Female', 'No', 'Sun', 'Dinner', 2, None), (10.34, 1.66, 'Male', 'No', 'Sun', 'Dinner', 3, None), (21.01, 3.5, 'Male', 'No', 'Sun', 'Dinner', 3, None), (23.68, 3.31, 'Male', 'No', 'Sun', 'Dinner', 2, None), (24.59, 3.61, 'Female', 'No', 'Sun', 'Dinner', 4, None), (25.29, 4.71, 'Male', 'No', 'Sun', 'Dinner', 4, None), (8.77, 2.0, 'Male', 'No', 'Sun', 'Dinner', 2, None), (26.88, 3.12, 'Male', 'No', 'Sun', 'Dinner', 4, None), (15.04, 1.96, 'Male', 'No', 'Sun', 'Dinner', 2, None), (14.78, 3.23, 'Male', 'No', 'Sun', 'Dinner', 2, None), (10.27, 1.71, 'Male', 'No', 'Sun', 'Dinner', 2, None), (35.26, 5.0, 'Female', 'No', 'Sun', 'Dinner', 4, None), (15.42, 1.57, 'Male', 'No', 'Sun', 'Dinner', 2, None), (18.43, 3.0, 'Male', 'No', 'Sun', 'Dinner', 4, None), (14.83, 3.02, 'Female', 'No', 'Sun', 'Dinner', 2, None), (21.58, 3.92, 'Male', 'No', 'Sun', 'Dinner', 2, None), (10.33, 1.67, 'Female', 'No', 'Sun', 'Dinner', 3, None), (16.29, 3.71, 'Male', 'No', 'Sun', 'Dinner', 3, None), (16.97, 3.5, 'Female', 'No', 'Sun', 'Dinner', 3, None), (20.65, 3.35, 'Male', 'No', 'Sat', 'Dinner', 3, None), (17.92, 4.08, 'Male', 'No', 'Sat', 'Dinner', 2, None), (20.29, 2.75, 'Female', 'No', 'Sat', 'Dinner', 2, None), (15.77, 2.23, 'Female', 'No', 'Sat', 'Dinner', 2, None), (39.42, 7.58, 'Male', 'No', 'Sat', 'Dinner', 4, None), (19.82, 3.18, 'Male', 'No', 'Sat', 'Dinner', 2, None), (17.81, 2.34, 'Male', 'No', 'Sat', 'Dinner', 4, None), (13.37, 2.0, 'Male', 'No', 'Sat', 'Dinner', 2, None), (12.69, 2.0, 'Male', 'No', 'Sat', 'Dinner', 2, None), (21.7, 4.3, 'Male', 'No', 'Sat', 'Dinner', 2, None), (19.65, 3.0, 'Female', 'No', 'Sat', 'Dinner', 2, None), (9.55, 1.45, 'Male', 'No', 'Sat', 'Dinner', 2, None), (18.35, 2.5, 'Male', 'No', 'Sat', 'Dinner', 4, None), (15.06, 3.0, 'Female', 'No', 'Sat', 'Dinner', 2, None), (20.69, 2.45, 'Female', 'No', 'Sat', 'Dinner', 4, None), (17.78, 3.27, 'Male', 'No', 'Sat', 'Dinner', 2, None), (24.06, 3.6, 'Male', 'No', 'Sat', 'Dinner', 3, None), (16.31, 2.0, 'Male', 'No', 'Sat', 'Dinner', 3, None), (16.93, 3.07, 'Female', 'No', 'Sat', 'Dinner', 3, None), (18.69, 2.31, 'Male', 'No', 'Sat', 'Dinner', 3, None), (31.27, 5.0, 'Male', 'No', 'Sat', 'Dinner', 3, None), (16.04, 2.24, 'Male', 'No', 'Sat', 'Dinner', 3, None), (17.46, 2.54, 'Male', 'No', 'Sun', 'Dinner', 2, None), (13.94, 3.06, 'Male', 'No', 'Sun', 'Dinner', 2, None), (9.68, 1.32, 'Male', 'No', 'Sun', 'Dinner', 2, None), (30.4, 5.6, 'Male', 'No', 'Sun', 'Dinner', 4, None), (18.29, 3.0, 'Male', 'No', 'Sun', 'Dinner', 2, None), (22.23, 5.0, 'Male', 'No', 'Sun', 'Dinner', 2, None), (32.4, 6.0, 'Male', 'No', 'Sun', 'Dinner', 4, None), (28.55, 2.05, 'Male', 'No', 'Sun', 'Dinner', 3, None), (18.04, 3.0, 'Male', 'No', 'Sun', 'Dinner', 2, None), (12.54, 2.5, 'Male', 'No', 'Sun', 'Dinner', 2, None), (10.29, 2.6, 'Female', 'No', 'Sun', 'Dinner', 2, None), (34.81, 5.2, 'Female', 'No', 'Sun', 'Dinner', 4, None), (9.94, 1.56, 'Male', 'No', 'Sun', 'Dinner', 2, None), (25.56, 4.34, 'Male', 'No', 'Sun', 'Dinner', 4, None), (19.49, 3.51, 'Male', 'No', 'Sun', 'Dinner', 2, None), (26.41, 1.5, 'Female', 'No', 'Sat', 'Dinner', 2, None), (48.27, 6.73, 'Male', 'No', 'Sat', 'Dinner', 4, 5), (17.59, 2.64, 'Male', 'No', 'Sat', 'Dinner', 3, None), (20.08, 3.15, 'Male', 'No', 'Sat', 'Dinner', 3, None), (16.45, 2.47, 'Female', 'No', 'Sat', 'Dinner', 2, None), (20.23, 2.01, 'Male', 'No', 'Sat', 'Dinner', 2, None), (12.02, 1.97, 'Male', 'No', 'Sat', 'Dinner', 2, None), (17.07, 3.0, 'Female', 'No', 'Sat', 'Dinner', 3, None), (14.73, 2.2, 'Female', 'No', 'Sat', 'Dinner', 2, None), (10.51, 1.25, 'Male', 'No', 'Sat', 'Dinner', 2, None), (27.2, 4.0, 'Male', 'No', 'Thur', 'Lunch', 4, None), (22.76, 3.0, 'Male', 'No', 'Thur', 'Lunch', 2, None), (17.29, 2.71, 'Male', 'No', 'Thur', 'Lunch', 2, None), (16.66, 3.4, 'Male', 'No', 'Thur', 'Lunch', 2, None), (10.07, 1.83, 'Female', 'No', 'Thur', 'Lunch', 1, None), (15.98, 2.03, 'Male', 'No', 'Thur', 'Lunch', 2, None), (34.83, 5.17, 'Female', 'No', 'Thur', 'Lunch', 4, None), (13.03, 2.0, 'Male', 'No', 'Thur', 'Lunch', 2, None), (18.28, 4.0, 'Male', 'No', 'Thur', 'Lunch', 2, None), (24.71, 5.85, 'Male', 'No', 'Thur', 'Lunch', 2, None), (21.16, 3.0, 'Male', 'No', 'Thur', 'Lunch', 2, None), (22.49, 3.5, 'Male', 'No', 'Fri', 'Dinner', 2, None), (22.75, 3.25, 'Female', 'No', 'Fri', 'Dinner', 2, None), (12.46, 1.5, 'Male', 'No', 'Fri', 'Dinner', 2, None), (20.92, 4.08, 'Female', 'No', 'Sat', 'Dinner', 2, None), (18.24, 3.76, 'Male', 'No', 'Sat', 'Dinner', 2, None), (14.0, 3.0, 'Male', 'No', 'Sat', 'Dinner', 2, None), (7.25, 1.0, 'Female', 'No', 'Sat', 'Dinner', 1, None), (38.07, 4.0, 'Male', 'No', 'Sun', 'Dinner', 3, None), (23.95, 2.55, 'Male', 'No', 'Sun', 'Dinner', 2, None), (25.71, 4.0, 'Female', 'No', 'Sun', 'Dinner', 3, None), (17.31, 3.5, 'Female', 'No', 'Sun', 'Dinner', 2, None), (29.93, 5.07, 'Male', 'No', 'Sun', 'Dinner', 4, None), (10.65, 1.5, 'Female', 'No', 'Thur', 'Lunch', 2, None), (12.43, 1.8, 'Female', 'No', 'Thur', 'Lunch', 2, None), (24.08, 2.92, 'Female', 'No', 'Thur', 'Lunch', 4, None), (11.69, 2.31, 'Male', 'No', 'Thur', 'Lunch', 2, None), (13.42, 1.68, 'Female', 'No', 'Thur', 'Lunch', 2, None), (14.26, 2.5, 'Male', 'No', 'Thur', 'Lunch', 2, None), (15.95, 2.0, 'Male', 'No', 'Thur', 'Lunch', 2, None), (12.48, 2.52, 'Female', 'No', 'Thur', 'Lunch', 2, None), (29.8, 4.2, 'Female', 'No', 'Thur', 'Lunch', 6, None), (8.52, 1.48, 'Male', 'No', 'Thur', 'Lunch', 2, None), (14.52, 2.0, 'Female', 'No', 'Thur', 'Lunch', 2, None), (11.38, 2.0, 'Female', 'No', 'Thur', 'Lunch', 2, None), (22.82, 2.18, 'Male', 'No', 'Thur', 'Lunch', 3, None), (19.08, 1.5, 'Male', 'No', 'Thur', 'Lunch', 2, None), (20.27, 2.83, 'Female', 'No', 'Thur', 'Lunch', 2, None), (11.17, 1.5, 'Female', 'No', 'Thur', 'Lunch', 2, None), (12.26, 2.0, 'Female', 'No', 'Thur', 'Lunch', 2, None), (18.26, 3.25, 'Female', 'No', 'Thur', 'Lunch', 2, None), (8.51, 1.25, 'Female', 'No', 'Thur', 'Lunch', 2, None), (10.33, 2.0, 'Female', 'No', 'Thur', 'Lunch', 2, None), (14.15, 2.0, 'Female', 'No', 'Thur', 'Lunch', 2, None), (13.16, 2.75, 'Female', 'No', 'Thur', 'Lunch', 2, None), (17.47, 3.5, 'Female', 'No', 'Thur', 'Lunch', 2, None), (34.3, 6.7, 'Male', 'No', 'Thur', 'Lunch', 6, None), (41.19, 5.0, 'Male', 'No', 'Thur', 'Lunch', 5, None), (27.05, 5.0, 'Female', 'No', 'Thur', 'Lunch', 6, None), (16.43, 2.3, 'Female', 'No', 'Thur', 'Lunch', 2, None), (8.35, 1.5, 'Female', 'No', 'Thur', 'Lunch', 2, None), (18.64, 1.36, 'Female', 'No', 'Thur', 'Lunch', 3, None), (11.87, 1.63, 'Female', 'No', 'Thur', 'Lunch', 2, None), (9.78, 1.73, 'Male', 'No', 'Thur', 'Lunch', 2, None), (7.51, 2.0, 'Male', 'No', 'Thur', 'Lunch', 2, None), (14.07, 2.5, 'Male', 'No', 'Sun', 'Dinner', 2, None), (13.13, 2.0, 'Male', 'No', 'Sun', 'Dinner', 2, None), (17.26, 2.74, 'Male', 'No', 'Sun', 'Dinner', 3, None), (24.55, 2.0, 'Male', 'No', 'Sun', 'Dinner', 4, None), (19.77, 2.0, 'Male', 'No', 'Sun', 'Dinner', 4, None), (29.85, 5.14, 'Female', 'No', 'Sun', 'Dinner', 5, None), (48.17, 5.0, 'Male', 'No', 'Sun', 'Dinner', 6, 5), (25.0, 3.75, 'Female', 'No', 'Sun', 'Dinner', 4, None), (13.39, 2.61, 'Female', 'No', 'Sun', 'Dinner', 2, None), (16.49, 2.0, 'Male', 'No', 'Sun', 'Dinner', 4, None), (21.5, 3.5, 'Male', 'No', 'Sun', 'Dinner', 4, None), (12.66, 2.5, 'Male', 'No', 'Sun', 'Dinner', 2, None), (16.21, 2.0, 'Female', 'No', 'Sun', 'Dinner', 3, None), (13.81, 2.0, 'Male', 'No', 'Sun', 'Dinner', 2, None), (24.52, 3.48, 'Male', 'No', 'Sun', 'Dinner', 3, None), (20.76, 2.24, 'Male', 'No', 'Sun', 'Dinner', 2, None), (31.71, 4.5, 'Male', 'No', 'Sun', 'Dinner', 4, None), (20.69, 5.0, 'Male', 'No', 'Sun', 'Dinner', 5, None), (7.56, 1.44, 'Male', 'No', 'Thur', 'Lunch', 2, None), (48.33, 9.0, 'Male', 'No', 'Sat', 'Dinner', 4, 5), (15.98, 3.0, 'Female', 'No', 'Fri', 'Lunch', 3, None), (20.45, 3.0, 'Male', 'No', 'Sat', 'Dinner', 4, None), (13.28, 2.72, 'Male', 'No', 'Sat', 'Dinner', 2, None), (11.61, 3.39, 'Male', 'No', 'Sat', 'Dinner', 2, None), (10.77, 1.47, 'Male', 'No', 'Sat', 'Dinner', 2, None), (10.07, 1.25, 'Male', 'No', 'Sat', 'Dinner', 2, None), (35.83, 4.67, 'Female', 'No', 'Sat', 'Dinner', 3, None), (29.03, 5.92, 'Male', 'No', 'Sat', 'Dinner', 3, None), (17.82, 1.75, 'Male', 'No', 'Sat', 'Dinner', 2, None), (18.78, 3.0, 'Female', 'No', 'Thur', 'Dinner', 2, None)]

In [55]:
con = cx_Oracle.connect(dbdetails)
cur = con.cursor()
query = "select * from tips"
cur.execute(query)
data = cur.fetchall()
for row in data: 
    print('Total Bill: ', row[0])
    print('Tip: ', row[1])
    print('Sex: ', row[2])
    print('Smoker: ', row[3])
    print('Day: ', row[4])
    print('Time: ', row[5])
    print('Size: ', row[6])
    print('Discount: ', row[7])
    print()
#row = cur.fetchone()
#while row is not None:
#    print(row)
#    row = cur.fetchone()
#    import time 
#    time.sleep(1)
cur.close()
con.close()

Total Bill:  16.99
Tip:  1.01
Sex:  Female
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  10.34
Tip:  1.66
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  21.01
Tip:  3.5
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  23.68
Tip:  3.31
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  24.59
Tip:  3.61
Sex:  Female
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  25.29
Tip:  4.71
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  8.77
Tip:  2.0
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  26.88
Tip:  3.12
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  15.04
Tip:  1.96
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  14.78
Tip:  3.23
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  10.27
Tip:  1.71
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  35.26
Tip:  5.0
Sex:  Female
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  15.42
Tip:  1.57
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  18.43
Tip:  3.0
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  14.83
Tip:  3.02
Sex:  Female
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  21.58
Tip:  3.92
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  10.33
Tip:  1.67
Sex:  Female
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  16.29
Tip:  3.71
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  16.97
Tip:  3.5
Sex:  Female
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  20.65
Tip:  3.35
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  17.92
Tip:  4.08
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  20.29
Tip:  2.75
Sex:  Female
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  15.77
Tip:  2.23
Sex:  Female
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  39.42
Tip:  7.58
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  19.82
Tip:  3.18
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  17.81
Tip:  2.34
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  13.37
Tip:  2.0
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  12.69
Tip:  2.0
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  21.7
Tip:  4.3
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  19.65
Tip:  3.0
Sex:  Female
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  9.55
Tip:  1.45
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  18.35
Tip:  2.5
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  15.06
Tip:  3.0
Sex:  Female
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  20.69
Tip:  2.45
Sex:  Female
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  17.78
Tip:  3.27
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  24.06
Tip:  3.6
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  16.31
Tip:  2.0
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  16.93
Tip:  3.07
Sex:  Female
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  18.69
Tip:  2.31
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  31.27
Tip:  5.0
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  16.04
Tip:  2.24
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  17.46
Tip:  2.54
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  13.94
Tip:  3.06
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  9.68
Tip:  1.32
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  30.4
Tip:  5.6
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  18.29
Tip:  3.0
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  22.23
Tip:  5.0
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  32.4
Tip:  6.0
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  28.55
Tip:  2.05
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  18.04
Tip:  3.0
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  12.54
Tip:  2.5
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  10.29
Tip:  2.6
Sex:  Female
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  34.81
Tip:  5.2
Sex:  Female
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  9.94
Tip:  1.56
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  25.56
Tip:  4.34
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  19.49
Tip:  3.51
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  26.41
Tip:  1.5
Sex:  Female
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  48.27
Tip:  6.73
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  4
Discount:  5

Total Bill:  17.59
Tip:  2.64
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  20.08
Tip:  3.15
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  16.45
Tip:  2.47
Sex:  Female
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  20.23
Tip:  2.01
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  12.02
Tip:  1.97
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  17.07
Tip:  3.0
Sex:  Female
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  14.73
Tip:  2.2
Sex:  Female
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  10.51
Tip:  1.25
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  27.2
Tip:  4.0
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  4
Discount:  None

Total Bill:  22.76
Tip:  3.0
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  17.29
Tip:  2.71
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  16.66
Tip:  3.4
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  10.07
Tip:  1.83
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  1
Discount:  None

Total Bill:  15.98
Tip:  2.03
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  34.83
Tip:  5.17
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  4
Discount:  None

Total Bill:  13.03
Tip:  2.0
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  18.28
Tip:  4.0
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  24.71
Tip:  5.85
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  21.16
Tip:  3.0
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  22.49
Tip:  3.5
Sex:  Male
Smoker:  No
Day:  Fri
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  22.75
Tip:  3.25
Sex:  Female
Smoker:  No
Day:  Fri
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  12.46
Tip:  1.5
Sex:  Male
Smoker:  No
Day:  Fri
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  20.92
Tip:  4.08
Sex:  Female
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  18.24
Tip:  3.76
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  14.0
Tip:  3.0
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  7.25
Tip:  1.0
Sex:  Female
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  1
Discount:  None

Total Bill:  38.07
Tip:  4.0
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  23.95
Tip:  2.55
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  25.71
Tip:  4.0
Sex:  Female
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  17.31
Tip:  3.5
Sex:  Female
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  29.93
Tip:  5.07
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  10.65
Tip:  1.5
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  12.43
Tip:  1.8
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  24.08
Tip:  2.92
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  4
Discount:  None

Total Bill:  11.69
Tip:  2.31
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  13.42
Tip:  1.68
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  14.26
Tip:  2.5
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  15.95
Tip:  2.0
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  12.48
Tip:  2.52
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  29.8
Tip:  4.2
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  6
Discount:  None

Total Bill:  8.52
Tip:  1.48
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  14.52
Tip:  2.0
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  11.38
Tip:  2.0
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  22.82
Tip:  2.18
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  3
Discount:  None

Total Bill:  19.08
Tip:  1.5
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  20.27
Tip:  2.83
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  11.17
Tip:  1.5
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  12.26
Tip:  2.0
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  18.26
Tip:  3.25
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  8.51
Tip:  1.25
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  10.33
Tip:  2.0
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  14.15
Tip:  2.0
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  13.16
Tip:  2.75
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  17.47
Tip:  3.5
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  34.3
Tip:  6.7
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  6
Discount:  None

Total Bill:  41.19
Tip:  5.0
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  5
Discount:  None

Total Bill:  27.05
Tip:  5.0
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  6
Discount:  None

Total Bill:  16.43
Tip:  2.3
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  8.35
Tip:  1.5
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  18.64
Tip:  1.36
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  3
Discount:  None

Total Bill:  11.87
Tip:  1.63
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  9.78
Tip:  1.73
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  7.51
Tip:  2.0
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  14.07
Tip:  2.5
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  13.13
Tip:  2.0
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  17.26
Tip:  2.74
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  24.55
Tip:  2.0
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  19.77
Tip:  2.0
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  29.85
Tip:  5.14
Sex:  Female
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  5
Discount:  None

Total Bill:  48.17
Tip:  5.0
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  6
Discount:  5

Total Bill:  25.0
Tip:  3.75
Sex:  Female
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  13.39
Tip:  2.61
Sex:  Female
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  16.49
Tip:  2.0
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  21.5
Tip:  3.5
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  12.66
Tip:  2.5
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  16.21
Tip:  2.0
Sex:  Female
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  13.81
Tip:  2.0
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  24.52
Tip:  3.48
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  20.76
Tip:  2.24
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  31.71
Tip:  4.5
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  20.69
Tip:  5.0
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  5
Discount:  None

Total Bill:  7.56
Tip:  1.44
Sex:  Male
Smoker:  No
Day:  Thur
Time:  Lunch
Size:  2
Discount:  None

Total Bill:  48.33
Tip:  9.0
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  4
Discount:  5

Total Bill:  15.98
Tip:  3.0
Sex:  Female
Smoker:  No
Day:  Fri
Time:  Lunch
Size:  3
Discount:  None

Total Bill:  20.45
Tip:  3.0
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  4
Discount:  None

Total Bill:  13.28
Tip:  2.72
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  11.61
Tip:  3.39
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  10.77
Tip:  1.47
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  10.07
Tip:  1.25
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  35.83
Tip:  4.67
Sex:  Female
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  29.03
Tip:  5.92
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  17.82
Tip:  1.75
Sex:  Male
Smoker:  No
Day:  Sat
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  18.78
Tip:  3.0
Sex:  Female
Smoker:  No
Day:  Thur
Time:  Dinner
Size:  2
Discount:  None

In [56]:
con = cx_Oracle.connect(dbdetails)
cur = con.cursor()
query = "select * from tips"
cur.execute(query)
n= int(input('Get the number of records: '))
data = cur.fetchmany(n)
for row in data: 
    print('Total Bill: ', row[0])
    print('Tip: ', row[1])
    print('Sex: ', row[2])
    print('Smoker: ', row[3])
    print('Day: ', row[4])
    print('Time: ', row[5])
    print('Size: ', row[6])
    print('Discount: ', row[7])
    print()
#row = cur.fetchone()
#while row is not None:
#    print(row)
#    row = cur.fetchone()
#    import time 
#    time.sleep(1)
cur.close()
con.close()

Get the number of records: 3
Total Bill:  16.99
Tip:  1.01
Sex:  Female
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  2
Discount:  None

Total Bill:  10.34
Tip:  1.66
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  3
Discount:  None

Total Bill:  21.01
Tip:  3.5
Sex:  Male
Smoker:  No
Day:  Sun
Time:  Dinner
Size:  3
Discount:  None

In [65]:
con = cx_Oracle.connect(dbdetails)
cur = con.cursor()
query = "select * from tips"
cur.execute(query)
n = int(input('Enter the number of records: '))
data = cur.fetchmany(n)
output = pd.DataFrame(data,columns=['total_bill','tip','sex','smoker','day','time','size','discount'])
output.to_csv('dboutput.csv')
#f = open('dbresults123.txt', 'w')
#f.writelines(str(data))
cur.close()
con.close()

Enter the number of records: 20

In [59]:
os.getcwd()

'C:\\Users\\Rahul\\Desktop'

In [64]:
pd.DataFrame(data,columns=['total_bill','tip','sex','smoker','day','time','size','discount'])

   total_bill   tip     sex smoker  day    time  size discount
0       16.99  1.01  Female     No  Sun  Dinner     2     None
1       10.34  1.66    Male     No  Sun  Dinner     3     None
2       21.01  3.50    Male     No  Sun  Dinner     3     None
3       23.68  3.31    Male     No  Sun  Dinner     2     None